.logo {
width: 70px;
}

.container {
    font-weight: lighter;
    font-size: 20px;
    margin: 0 60px;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #222123;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;

    nav {
        color: white;

      a {
          transition: 0.3s;
      }
      a:hover{
          transition: 0.3s;
          color: #656363;
      }
    }

}

.call {
    transition: 0.3s;
}

.call:hover {
    transition: 0.3s;
    text-decoration: underline;
}


