.card-container {
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    img{
        transition: 0.8s;
    }
}
.card-container:hover {
    img{
        transform: scale(1.05);
    }
}

.card-image {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.card-gradient-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
}

.card-gradient-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.card-info-top {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
    color: white;
}

.card-info-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.card-container:hover .card-info-bottom,
.card-container:hover .card-gradient-bottom {
    opacity: 1;
}
.slick-dots li button:before {
    color: #fff; /* Изменяем цвет точек на оранжевый, можете поменять на любой другой */
}

/* Изменяем цвет активной точки */
.slick-dots li.slick-active button:before {
    color: #aaa; /* Изменяем цвет активной точки на светло-оранжевый */
}

